[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
requests = "*"
pytelegrambotapi = "*"
aiohttp = "*"
beautifulsoup4 = "*"

[dev-packages]
pylint = "*"
